In [1]:
import pandas as pd 
import numpy as np

In [1]:
from PyPDF2 import PdfReader
path = "data/Key_Stats/"
files = os.listdir(path)

dir1 = path + files[178]

reader = PdfReader(dir1)
page = reader.pages[3]

In [10]:
import ctypes
from ctypes.util import find_library
find_library("".join(("gsdll", str(ctypes.sizeof(ctypes.c_voidp) * 8), ".dll")))

In [1]:
import pandas as pd

csv = pd.read_csv("data/fund_list.csv")

In [6]:
temp = csv["Issuer"]
# find item containing "CMS"
temp[temp.str.contains("CMS")]

1       CMS Asset Management (HK) Co., Limited
919     CMS Asset Management (HK) Co., Limited
1052    CMS Asset Management (HK) Co., Limited
1053    CMS Asset Management (HK) Co., Limited
Name: Issuer, dtype: object

In [7]:
csv.loc[csv["Issuer"] == 'CMS Asset Management (HK) Co., Limited']

,Product_Name,Sub_Fund_Name,Issuer,Auth_Date,Doc,Deriv_Fund,Product_ID,Sub_Fund_ID,doc_url,doc
1,CMS Funds (AYF849),CMS Money Market Fund (BSX133),"CMS Asset Management (HK) Co., Limited",7/11/2022,,No,AYF849,BSX133,NaN,NaN
919,CMS Funds (AYF849),CMS Hong Kong Multi Income Fund (BAZ964),"CMS Asset Management (HK) Co., Limited",2/12/2013,Offering Documents,No,AYF849,BAZ964,https://apps.sfc.hk/productlistWeb/searchProdu...,1.0
1052,CMS Funds (AYF849),NaN,"CMS Asset Management (HK) Co., Limited",6/1/2012,Offering Documents,NaN,AYF849,NaN,https://apps.sfc.hk/productlistWeb/searchProdu...,0.0
1053,CMS Funds (AYF849),CMS China Opportunities Flexifund (AYF850),"CMS Asset Management (HK) Co., Limited",6/1/2012,Offering Documents,No,AYF849,AYF850,https://apps.sfc.hk/productlistWeb/searchProdu...,1.0

In [2]:
import pandas as pd
fee_table = pd.read_csv("data/fee_table.csv")
traget = pd.read_csv("data/target_list.csv")

In [3]:
fee_table['id']

0       BRX762
1       BRX763
2       BRX764
3       BRX765
4       BSE527
         ...
1533    BQK970
1534    BQQ357
1535    BRV725
1536    BSF128
1537    BSP533
Name: id, Length: 1538, dtype: object

In [4]:
traget['Sub_Fund_ID']

0       BSX598
1       BSX533
2       BSY415
3       BSX534
4       BSY416
         ...
1555    ABD894
1556    ABE033
1557    ABE029
1558    ABE035
1559    ABD806
Name: Sub_Fund_ID, Length: 1560, dtype: object

In [9]:
# difference between two lists
len(list(set(traget['Sub_Fund_ID']) - set(fee_table['id'])))

43

In [7]:
fee_table[fee_table['id'] == "BBV047"]

,id,subscription,switching,redemption,management,trustee,performance,admin
884,BBV047,NaN,NaN,NaN,0.75%,0.125%,NaN,NaN

In [10]:
# number of unique values in fee_table id
len(fee_table['id'].unique())

1536

In [13]:
# put all the nan in fee_table to 0
fee_table.fillna(0, inplace=True)
fee_table.to_csv("data/fee_table_1.csv", index=False)

In [1]:
import pandas as pd
fund_freq = pd.read_csv("data/fund_freq.csv")

In [15]:
fund_freq.loc[fund_freq['file_id'] == "BQP561"]["freq"] = 'daily'

C:\Users\Yan Jin\AppData\Local\Temp\ipykernel_30224\4239096770.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fund_freq.loc[fund_freq['file_id'] == "BQP561"]["freq"] = 'daily'

In [7]:
fund_freq.loc[fund_freq['file_id'] == "BJB721"]["freq"] = 'weekly'

C:\Users\Yan Jin\AppData\Local\Temp\ipykernel_30224\1539136935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fund_freq.loc[fund_freq['file_id'] == "BJB721"]["freq"] = 'weekly'

In [16]:
fund_freq.to_csv("data/fund_freq_1.csv", index=False)